.rightbar{
    flex: 0.3;
}
.rightbar_input{
    display: flex;
    align-items: center;
    background-color: #e6ecf0;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    
}
.rightbar_input input{
    border: none;
    background-color:#e6ecf0 ;
    outline: none;
}

.rightbar_searchIcon{
    color: gray;
}
.rightbar_container{
    margin-top: 15px;
    margin-left: 20px;
    padding: 10px;
    background-color:#e6ecf0;
    border-radius: 20px;
}
.rightbar_container h2{
    font-size: 18px;
    font-weight: 800;
}

.rightbar_suggetion{
    display: flex;
    padding: 10px;
    
}

.rightbar_suggetion div{
    margin-right: 0.5rem;

}

.text-content h4{
    
    font-size: 1.2vw;
    margin:0;

}

.text-content p{
    margin: 0;
}


.follow{
    height: 30px;
    width: 80px;    
}

.button-follow{
    
    display: flex;
    align-items: center;
}


.rightbar_suggetion{
    justify-content: space-around;
}

.man{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.text_part{
    display: flex;justify-content: space-around;
margin: 0;
padding: 0;
}

.h4{
    margin: 2px;

}
.h5{
    margin: 2px;
}